<mat-toolbar>
    <mat-form-field style="width: 500px; padding-left: 20px">
        <input matInput class="form-control" [formControl]="search" placeholder="Search">
    </mat-form-field>
    <button *ngIf="searchData | async" mat-icon-button style="padding-left: 40px">
        <mat-icon (click)="close()">close</mat-icon>
    </button>

</mat-toolbar>
<mat-card class="search-result-container" *ngIf="searchData | async as data">
    <mat-list>
        <h2 mat-subheader>Albums</h2>

        <div class="result-card-wrapper" *ngFor="let album of data.albums" [routerLink]="['/album', album._id]"
             (click)="close()">
            <mat-card class="result-card">
                <mat-card-header>
                    <mat-card-title>{{album.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{photo_url}}/{{ album.cover_image }}" alt="...">
                <mat-card-content>
                    <p>{{album.description}}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <h2 mat-subheader>Photos</h2>
        <div class="result-card-wrapper" *ngFor="let photo of data.photos" [routerLink]="['/album', photo.album_id]"
             (click)="imageClick(photo, photo._id)">
            <mat-card class="result-card">
                <mat-card-header>
                    <mat-card-title>{{photo.title}}</mat-card-title>
                    <mat-card-subtitle>{{photo.hash_tags}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{photo_url}}/{{ photo.image_file }}" alt="...">
                <mat-card-content>
                    <p>{{photo.description}}</p>
                </mat-card-content>
            </mat-card>
        </div>

    </mat-list>

</mat-card>