<form [formGroup]="photoForm" (ngSubmit)="addPhoto()" enctype="multipart/form-data">
    <div class="form-group">
        <mat-form-field style="width: 100%">
            <input matInput class="form-control" formControlName="title" placeholder="Title">
        </mat-form-field>
        <mat-form-field style="width: 100%">
            <input matInput class="form-control" formControlName="description" placeholder="Description">
        </mat-form-field>
        <mat-form-field style="width: 100%">
            <input matInput class="form-control" formControlName="hash_tags" placeholder="Hash tags">
        </mat-form-field>
    </div>
    <div class="button-wrapper">
        <button mat-raised-button type="button" (click)="closeDialog()">Close</button>
        <button mat-raised-button type="submit"
                [disabled]="photoForm.invalid || photoForm.untouched" class="btn btn-success">Save
        </button>
    </div>
</form>

